/* Universal Styles */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
}

a {
    color: seashell;
    text-decoration: underline;
    padding: 20px;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 10px;
}

.flex-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Header section */

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
}    

nav {
    text-align: right;
    padding: 20px;
    margin-right: 20px;
    
}

header img {
    float: left;
    height: 50px;
    padding: 10px;
}

/* Mission Banner */

.main {
    margin: auto;
    width: 1200px;
}

#mission {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    
}

.banner-message {
    width: 100%;
    background-color: black;
    margin: auto;
}



/* Teas of the month */



.flex-container-1 {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-1 img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;   
}

/* Locations */

.banner {
    margin: 100px auto auto auto;
    padding-top: 85px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    max-width: 1200px;
}

.locations-title {
    padding-bottom: 35px;
}


.locations-container {
    display: flex;
    justify-content: space-around;
    width: 1050px;
    margin: 15px auto auto auto;
    
}

.location-box {
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    background-color: black;
    
    width: 300px;
    flex-basis: 30%;
    opacity: .9;
}

/* Contact */ 

#contact {
    margin-top: 30px;
}

/* Footer */

.footer {
    text-align: left;
    padding-left: 20px;
}